@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.blog-contact-card-bg {
  background: linear-gradient(#2e34827e, #2e3482e4),
    url("https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
